<section>
    <h3><%=title%></h3>
</section>

<section>
    <input id="search" type="text" placeholder="Search here...">
    <button onclick="search();">SEARCH</button>
    <button onclick="struct();">VIEW LOKI STRUCTURE</button>
    <br><br>

    <table class="users" cellpadding="10">
        <tr>
            <td align="left">NAME</td>
            <td align="left">CITY</td>
            <td align="center">STATE</td>
            <td align="center">ZIP</td>
        </tr>

        <% for (var i = 0; i < users.length; i++) { %>
            <tr>
                <td align="left"><%= users[i].name %></td>
                <td align="left"><%= users[i].city %></td>
                <td align="center"><%= users[i].state %></td>
                <td align="center"><%= users[i].zip %></td>
            </tr>
        <% } %>
    </table>
</section>

<section>
    <pre><%-struct%></pre>
</section>

<script>
    function search() {
        let val = $('#search').val().trim();

        if (val && val.length > 2) {
            window.location = '/database/find/' + val;
        }
        else {
            alertify.alert('Hey!', 'Please type a minimum of 3 characters into the search field!', null);
        }
    }

    function struct() {
        alertify.alert('Hey!', 'This will show the in-memory structure of the Loki Database Collection. Scroll to the bottom to view collection settings.', function() {
            window.location = '/database/structure';
        });
    }
</script>
